.pytest_cache/
.pytest_cache
.pytest_cache_dir/
pytest-cache-files-*/
__pycache__/
.benchmarks/
.tmp_pytest

# builds
dist/
sans/build/
sans/sans.egg-info/

# ouputs
out/
demo/out/

# archive
docs/archive/
docs/sprints/
